# Entorno
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Node si después usan algo de frontend
node_modules/

# Archivos temporales
tmp/
temp/